* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';
}
input[type='checkbox'] {
  zoom: 2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 12rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}
.spanOveride {
  margin: 0;
}
div {
  font-size: 1rem;
  margin-bottom: 1rem;
}
select {
  padding: 1rem;
  border-radius: 5px;
}
input {
  padding: 1rem;
  border-radius: 5px;
}

a {
  color: black;
}

.btnSubmit {
  border-radius: 25px;
  background-color: rgba(23, 162, 184, 0.2);
  border-color: #17a2b8;
  padding: 1rem;
  font-weight: bold;
}

.btnSubmitLogin {
  border-radius: 25px;
  background-color: 'white';
  border-color: #17a2b8;
  padding: 1rem;
  font-weight: bold;
}
.height100Vh {
  min-height: 100vh;
}
.inline {
  display: inline;
}
.imageLogo {
  border-radius: 25px;
  max-width: 250px;
  max-height: 250px;
}
.imageSmall {
  width: 120px;
  height: 120px;
}

.linkOtherSteps {
  color: #7d90b3;
}
.margin10 {
  margin: 10px;
}
.form {
  width: '100%';
}
.hide {
  display: none;
}
.normal {
  display: inline;
}
.inputText {
  width: 90%;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}
.inputResults {
  /*width: 100%;*/
  border: 1px solid black;
  /*padding: 10px;*/
}
.inputSelect {
  width: 90%;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}
.inputSelectDate {
  width: 50%;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}
.inputSelectPermis {
  width: 46%;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}

.bold {
  font-weight: bold;
}
.link {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: '5px';
  margin: '5px';
  font-size: 1.5rem;
}
.overflow {
  text-overflow: ellipsis;
}
.textBox {
  width: 90%;
  height: 200px;
  overflow-y: auto;
  border: 1px solid black;
  text-align: top;
}
.textDisplay {
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
  /*max-width: 900px;*/
}
