* {
  box-sizing: border-box;
  color: rgb(242, 232, 207);
}

body {
  height: 100vh;
  background-attachment: fixed;
  background-color: rgb(56, 102, 65);
  background-image: linear-gradient(
    to right,
    rgba(56, 102, 65, 0.9),
    rgba(56, 102, 65, 0.95),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgb(56, 102, 65),
    rgba(56, 102, 65, 0.95),
    rgba(56, 102, 65, 0.9)
  );
  background-color: rgba(255, 255, 255, 0.5);
  font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';
}

h1 {
  font-size: 2rem;
  margin: auto;
  width: 75%;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}
input {
  padding: 1rem 0 1rem 1rem;
  background-color: rgb(242, 232, 207);
  border: 10px double rgb(242, 232, 207);
  color: black;
}
div {
  font-size: 1.4rem;
}
/*----------------Classes--------------*/

.carouselDiv {
  height: 150px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
.containerSearch {
  border: 10px double rgb(242, 232, 207);
}

.imageContainer {
  height: 380px;
}
.imageLogo {
  border-radius: 25px;
  max-width: 250px;
  max-height: 250px;
}

.imageSmall {
  max-width: 100%;
  max-height: 100%;
}
.imageNomination {
  height: 225px;
  width: 150px;
}
.noImage {
  width: 217px;
  height: 320px;
  background-color: black;
  text-align: center;
}
.noImageNomination {
  height: 225px;
  width: 150px;
  background-color: black;
  text-align: center;
}

.searchResults {
  background-color: rgb(242, 232, 207);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  max-width: 50%;
}
.textContainer {
  height: 80px;
}
.whiteImage {
  color: rgb(242, 232, 207);
}
