* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-attachment: fixed;
  background-color: #990000;
  background-image: linear-gradient(
    to right,
    rgba(82, 22, 12, 0.9),
    rgba(82, 22, 12, 0.95),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgb(82, 22, 12),
    rgba(82, 22, 12, 0.95),
    rgb(82, 22, 12, 0.9)
  );
  font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}
input {
  padding: 1rem;
  border-radius: 5px;
}
div {
  font-size: 1.4rem;
}
/*----------------Classes--------------*/
.containerSearch {
  border: 4px double rgb(223, 202, 78);
}
.imageLogo {
  border-radius: 25px;
  max-width: 250px;
  max-height: 250px;
}
.imageSmall {
  max-width: 100%;
}
.noImage {
  width: 217px;
  height: 320px;
  background-color: white;
  text-align: center;
}
.searchResults {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  max-width: 50%;
}
.inputText {
  width: 90%;
  background-color: white;
  border-bottom: 2px solid black;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}
